/* global */
body {
    font-family: Arial;
    color: #666666;
    background-color: #f6f6f6;
}
.container{
    max-width: 1200px;
    margin: auto;
}
/* header */
h1 {
    word-wrap: break-word;
    padding: 0;
    padding-top: 1em;
    color: #20a001;
    line-height: 0px;
    font-size: 50px;
}
#bottom_h1 {
    line-height: 10px;
    padding: 0;
    color: #9dec83;
}
/* body */
#mainBody > .container{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 0.5em;
}
   
.bodyList li {
    line-height: 30px;
}
#BandI{
    font-style: italic;
    font-weight: bold;
}
.newsDesc {
    font-size: 12px;
    line-height: 0px;
    padding-bottom: 10px;
    color: #6ba648;
    border-bottom: 1.2px dotted #d0cdc7;
}
p {
    line-height: 30px;
}
h2 {
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

a{
    color: #58c62e;
}
/* table */
table, tr, td {
    border: 1px solid black;
    border-color: #666666;
    shadow: 0.8px 0.8px grey;
}
table {
    box-shadow: 0.8px 0.8px grey;
}
.t1 {
    width: 100px;
    background-color: #99ccff;
}
.t2 {
    width: 70px;
    
}

.sideMenu {
    width: 20%;
    padding: 5px;
    padding-top: 5px;
    background-color: #86ea66;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.newsfeed {
    width: 80%;
    padding: 20px;
}
.gradientH2 {
    margin-left: 10px;
    padding: 5px;
    padding-left: 0.8em;
    background-image: linear-gradient(#118b02, #35bb02);
    color: #ffffff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.readButton {
    color: #666666;
    padding: 5px 30px;
    margin: 0 20px;
    border-radius: 12px;
    border-color: #efefef;
    background-image: linear-gradient(#d7d7d7, #fdfdfd);
}
.readButton > a {
    
    text-decoration: none;
}
/* footer */
footer {
    text-align: center;
    color: #8bea6c
}
.customOL li
{
    padding: 7px 10px 7px 0px;
    color: #ffffff;
    list-style-type: none;
    counter-increment: step-counter;
    border-bottom: 1.2px dashed #ffffff63;
    margin-right: 15px;
    
  }
  
  .customOL li::before {
    content: counter(step-counter) ". "; 
  }
  #pikachu, #groot, #fred {
    display:none;
    width: 100%;
    height: auto;
  }
.show{display:block;}
.hide{display:none;}
@media only screen and (max-width: 440px) {
        h1 {
            word-wrap: break-word;
            line-height: 15px;
            font-size: 35px;
        }
        #bottom_h1 {
            font-size: 12px;
            line-height: 10px;
            padding: 0;
        }
     }
@media only screen and (max-width: 650px) {
        #mainBody > .container{
            flex-wrap: wrap;
            align-items: center;
        }
        .sideMenu {
            width: 100%;
            text-align: center;

            }
        .newsDesc {
            font-size: 12px;
            line-height: 10px;
     }
    }
 @media only screen and (min-width: 650px) {
     .sideMenu {
        width: 30%;
        }
    }
    @media only screen and (min-width: 900px) {
        .sideMenu {
            width: 20%;
            }
    }
     